<div>
    <h2 id="page-heading">
        <span jhiTranslate="herokuDemo2App.planet.home.title">Planets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-planet" [routerLink]="['/planet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="herokuDemo2App.planet.home.createLabel">
            Create a new Planet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="planets?.length === 0">
        <span jhiTranslate="herokuDemo2App.planet.home.notFound">No planets found</span>
    </div>
    <div class="table-responsive" *ngIf="planets?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="herokuDemo2App.planet.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="surface"><span jhiTranslate="herokuDemo2App.planet.surface">Surface</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="radius"><span jhiTranslate="herokuDemo2App.planet.radius">Radius</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="system"><span jhiTranslate="herokuDemo2App.planet.system">System</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="planetary_system.name"><span jhiTranslate="herokuDemo2App.planet.planetary_system">Planetary System</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let planet of planets ;trackBy: trackId">
                <td><a [routerLink]="['/planet', planet.id, 'view' ]">{{planet.id}}</a></td>
                <td>{{planet.name}}</td>
                <td>{{planet.surface}}</td>
                <td>{{planet.radius}}</td>
                <td>{{planet.system}}</td>
                <td>
                    <div *ngIf="planet.planetary_system">
                        <a [routerLink]="['/planetary-system', planet.planetary_system?.id, 'view' ]" >{{planet.planetary_system?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/planet', planet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/planet', planet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/planet', { outlets: { popup: planet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="planets?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
