<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="planet">
            <h2><span jhiTranslate="herokuDemo2App.planet.detail.title">Planet</span> {{planet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="herokuDemo2App.planet.name">Name</span></dt>
                <dd>
                    <span>{{planet.name}}</span>
                </dd>
                <dt><span jhiTranslate="herokuDemo2App.planet.surface">Surface</span></dt>
                <dd>
                    <span>{{planet.surface}}</span>
                </dd>
                <dt><span jhiTranslate="herokuDemo2App.planet.radius">Radius</span></dt>
                <dd>
                    <span>{{planet.radius}}</span>
                </dd>
                <dt><span jhiTranslate="herokuDemo2App.planet.system">System</span></dt>
                <dd>
                    <span>{{planet.system}}</span>
                </dd>
                <dt><span jhiTranslate="herokuDemo2App.planet.planetary_system">Planetary System</span></dt>
                <dd>
                    <div *ngIf="planet.planetary_system">
                        <a [routerLink]="['/planetary-system', planet.planetary_system?.id, 'view']">{{planet.planetary_system?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/planet', planet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
