<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-planet-heading" jhiTranslate="herokuDemo2App.planet.home.createOrEditLabel">Create or edit a Planet</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="herokuDemo2App.planet.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="herokuDemo2App.planet.surface" for="field_surface">Surface</label>
                    <input type="number" class="form-control" name="surface" id="field_surface"
                           formControlName="surface"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="herokuDemo2App.planet.radius" for="field_radius">Radius</label>
                    <input type="number" class="form-control" name="radius" id="field_radius"
                           formControlName="radius"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="herokuDemo2App.planet.system" for="field_system">System</label>
                    <input type="text" class="form-control" name="system" id="field_system"
                           formControlName="system"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="herokuDemo2App.planet.planetary_system" for="field_planetary_system">Planetary System</label>
                    <select class="form-control" id="field_planetary_system" name="planetary_system" formControlName="planetary_system">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="planetary_systemOption.id === editForm.get('planetary_system').value?.id ? editForm.get('planetary_system').value : planetary_systemOption" *ngFor="let planetary_systemOption of planetary_systems; trackBy: trackPlanetary_systemById">{{planetary_systemOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
